# ==========================================
# Arquivos de Build e Compilação (Maven/Java)
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.log

# ==========================================
# Pastas e configurações de IDEs
# ==========================================
# VS Code (Sua IDE)
.vscode/

# IntelliJ IDEA e Eclipse (Caso outros do Squad usem)
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.springBeans

# ==========================================
# Arquivos do Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Arquivos específicos do nosso Projeto (Arena)
# ==========================================

# Ignora a pasta onde o H2 salva os arquivos do banco de dados local
data/
*.mv.db
*.trace.db

# Ignora a pasta onde estamos salvando fisicamente as imagens dos eventos
uploads/
